@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-lexend font-normal text-text_main;
  }

  .font-outline-1 {
    -webkit-text-stroke: 1px #1b1c57;
  }

  .font-outline-0 {
    -webkit-text-stroke: 0px #1b1c57;
  }

  .heading {
    text-shadow: -1px 0 #1b1c57, 0 1px #1b1c57, 1px 0 #1b1c57, 0 -1px #1b1c57;
  }
}

@layer components {
  /* Classes for header */
  .sticky .header-logo {
    @apply py-5 xl:py-2;
  }
  .sticky .menu-scroll.active {
    @apply opacity-70;
  }
  /* End classes fo header */
}

/* Classes for background Hero */
.hero-bg {
  background-image: url('/images/hero/bg.png'),
    url('/images/hero/hero-left.png'), url('/images/hero/hero-right.png');
  background-repeat: no-repeat;
  background-position: top right, top left, 15% 0;
  background-size: 50% 720px, auto, auto;
}

/* End classes background Hero */

.swiper-wrapper {
  padding-top: 92px;
}
