@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white font-lexend font-normal text-text_main;
  }

  .font-outline-1 {
    -webkit-text-stroke: 1px #1b1c57;
  }

  .font-outline-0 {
    -webkit-text-stroke: 0px #1b1c57;
  }

  .heading {
    text-shadow: -1px 0 #1b1c57, 0 1px #1b1c57, 1px 0 #1b1c57, 0 -1px #1b1c57;
  }
}

@layer components {
  /* Classes for header */
  .sticky .header-logo {
    @apply py-5 xl:py-2;
  }
  .sticky .menu-scroll.active {
    @apply opacity-70;
  }
  /* End classes fo header */
}

/* Classes for background Hero */
.hero-bg {
  background-image: url('/images/hero/bg.png'),
    url('/images/hero/hero-left.png'), url('/images/hero/hero-right.png');
  background-repeat: no-repeat;
  background-position: top right, top left, 15% 0;
  background-size: 50% 720px, auto, auto;
}

/* End classes background Hero */

/* Classes for background swiper pagination */

.swiper-pagination-bullet-active {
  border-radius: 50% !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet {
  background-color: #e0e3eb !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #3c4563 !important;
  border-radius: 50% !important;
}

/* End classes for background swiper pagination */

/* Classes for background Sell */

.sell-bg {
  background-image: url('/images/sell/spot1.svg'), url('/images/sell/spot2.svg');
  background-repeat: no-repeat;
  background-position: bottom right, top right;
  background-size: contain, contain;
}
/* End classes background Sell */

/* Classes for Subscribe card Bg */
.subscribe-bg {
  background-image: url('/images/subscribe/1.png'),
    url('/images/subscribe/2.png'), url('/images/subscribe/3.png'),
    url('/images/subscribe/4.png'), url('/images/subscribe/5.png'),
    url('/images/subscribe/6.png'), url('/images/subscribe/7.png'),
    url('/images/subscribe/8.png'), url('/images/subscribe/bg.png');
  background-repeat: no-repeat;
  background-position: 
  /* 1 */ top 38px left 44px,
    /* 2 */ top 44px right 200px, /* 3 */ top 71px left 204px,
    /* 4 */ top 107px right 82px, /* 5 */ top 143px right 200px,
    /* 6 */ top 173px left 67px, /* 7 */ top 178px left 195px,
    /* 8 */ top 197px right 73px, /* bg */ center;
  background-size: auto;
}
/* End classes Subscribe card Bg */

/* Classes for background Tips */

.tips-bg {
  background-image: url('/images/tips/spot1.svg'), url('/images/tips/spot2.svg');
  background-repeat: no-repeat;
  background-position: top 20% left, top left;
  background-size: contain;
}
/* End classes background Tips */

/* Classes for background Footer */

.footer-bg {
  background-image: url('/images/footer/spot1.svg'),
    url('/images/footer/spot2.svg');
  background-repeat: no-repeat;
  background-position: bottom 10% right, bottom right;
  background-size: contain;
}
/* End classes background Footer */
